# dependencies
node_modules/

# generated types
.astro/
.vercel/

# build output
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# private config
.env
src/content/posts/.obsidian/app.json
src/content/posts/.obsidian/appearance.json
src/content/posts/.obsidian/core-plugins.json
src/content/posts/.obsidian/workspace.json
